[Desktop Entry]
Encoding=UTF-8
Name=PEPEPOW
Comment=PEPEPOW P2P Cryptocurrency
Comment[fr]=PEPEPOW, monnaie virtuelle cryptographique pair à pair
Comment[tr]=PEPEPOW, eşten eşe kriptografik sanal para birimi
Exec=PEPEPOW-qt %u
Terminal=false
Type=Application
Icon=dash128
MimeType=x-scheme-handler/PEPEPOW;
Categories=Office;Finance;
