
/* reset all */
* {
    color: #d3d3e0;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    outline:none;
    background-color: transparent;
    transition: border .2s linear,color .2s linear,width .2s linear,background-color .2s linear;
    /* margin: 0px;
    padding: 0px; */
}

*:focus{
    font-size: 12px;
}

WalletFrame, QMainWindow, QDialog, QProgressBar:horizontal {
    background-color: #16161f; 
}

.QFrame {
    background-color:transparent;
    border:0px solid #16161f;
}


QToolTip{
    color: #856404;
    background-color: #fff3cd;
    border:1px solid #ffeeba;
    border-radius: 5px;
}

a, QDialog a, *::Link{
    color: #11c26d
}

/* Toolbar */

QToolBar, QStatusBar {
    background-color:#16161f;

    padding:0;
    margin:0;
    border:0px;
}

QToolBar > QToolButton {   
     min-height:2.5em;
     min-width: 8em;
     padding: 5px 8px;
     border:0px;
     margin: 0px;     
    
 }
 QToolBar > QToolButton:hover{
     background-color: #2a2a3d
 }
 QToolBar > QToolButton:checked {
     background-color:#20202E;
     font-weight:bold;    
 }

 /* -------------------Right Menu--------------------- */
QMenuBar{background-color:#16161F;}
QMenuBar::item {
   /*padding: 5px;*/
   background-color:#16161F;
   color:#ffffff;
}
QMenu{
    background-color:#16161F;
    color:#ffffff;
    border: 1px solid #3f3f5b;
    padding: 0;
    margin: 0;
}
QMenuBar::item {
   /*padding: 5px;*/
}
QMenu::item:hover {
    background-color:#16161f;
}
QMenu::item:selected {
    background-color:#16161f;
    color: #3e8ef7
}
 
 /* -------------------Checkbox--------------------- */


QCheckBox {
    spacing: 5px;
}
QCheckBox::indicator {
    width: 16px;
    height: 16px;
}
QCheckBox::indicator:unchecked {
    image:url(':/images/light/unchecked');
}
QCheckBox::indicator:unchecked:hover {
    image:url(':/images/light/unchecked');
}
QCheckBox::indicator:unchecked:pressed {
    image:url(':/images/light/checked');
}
QCheckBox::indicator:checked {
    image:url(':/images/light/checked');
}
QCheckBox::indicator:checked:hover {
    image:url(':/images/light/checked');
}
QCheckBox::indicator:checked:pressed {
    image:url(':/images/light/unchecked');
}
QCheckBox::indicator:indeterminate:hover {
    image:url(':/images/light/unchecked');
}
QCheckBox::indicator:indeterminate:pressed {
    image:url(':/images/light/checked');
}

/* -------------------Button--------------------- */

QPushButton {   
     display: inline-block;
     text-align: center;
     white-space: nowrap;
     vertical-align: middle;     
     padding: 8px 14px; 
     border-radius: 4px;    
     color: #3e8ef7;
     background-color: transparent;
     border: 1px solid #3e8ef7;
 }
 QPushButton:hover {
     color: #fff;
     background-color: #3e8ef7;
     border-color: #3e8ef7;
 }
 QPushButton:focus {
     border-color: #247cf0;
    
 }
 QPushButton:pressed {     
     border-color: #247cf0
 } 
 QPushButton:disabled {
     color: #3f3f5b;
     background-color: transparent;     
     border-color: #20202E;
 }
 
 /* -------------------Textbox--------------------- */


.QValidatedLineEdit, .QLineEdit, .QTextEdit, QMessageBox, QPlainTextEdit {
   
     min-height:24px;     
     padding:3px;
     background-color:#20202E;
     border: 1px solid #3f3f5b;    
 }
 
 .QValidatedLineEdit:disabled, .QLineEdit:disabled {
     /* background-color:#f2f2f2; */
     background-color: #16161f;
     opacity: 0.7;
     color: #3f3f5b;
 }
 .QValidatedLineEdit:focus, .QLineEdit:focus{
     border-color: #555576;
 }

 /* -------------------Dropdown, Spinbox--------------------- */

 QAbstractSpinBox, QSpinBox, QComboBox {
    /* Dropdown Menus */   
     padding: 3px 5px;    
     min-height:24px;   
     background-color:#20202E;
     border: 1px solid #3f3f5b;    
 }

/* 
QComboBox:checked {
    background:#111111;
} */

QComboBox::drop-down {
    width:24px;
    border:0px;
}
QComboBox::down-arrow {
    border-image: url(':/images/light/drkblue_downArrow') 0 0 0 0 stretch stretch;
}
QComboBox QListView {
    background-color:#20202E;
    border:1px solid #3f3f5b;   
    padding-right:1px;
    padding-left:1px;
   
}

QComboBox>QListView::item {
    padding: 5px;
}

QComboBox::item:alternate {
    background:#16161f;
}
QComboBox::item:selected {   
    border:0px solid transparent;
    background:#16161f;
}
QComboBox::indicator {
    background-color:transparent;
    selection-background-color:transparent;
    color:transparent;
    selection-color:transparent;
}

QAbstractSpinBox::down-button, QAbstractSpinBox::up-button{
    width:20px;
    height: 15px;
    background:#20202E;
    border: 0;
}
QAbstractSpinBox::up-button:pressed, QAbstractSpinBox::down-button:pressed{
    background:#16161f;
}

QAbstractSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right;   
    border-right:1px solid #3f3f5b;
    border-top:1px solid #3f3f5b;
}

QAbstractSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right;    
    border-right:1px solid #3f3f5b;
    border-bottom:1px solid #3f3f5b;
}

QAbstractSpinBox::down-arrow, QAbstractSpinBox::up-arrow{
    width:12px;
    height:12px;
}

QAbstractSpinBox::up-arrow {
    image:url(':/images/light/drkblue_upArrow_small');    
}
QAbstractSpinBox::down-arrow {
    image:url(':/images/light/drkblue_downArrow_small');   
}

 /* -------------------Table--------------------- */

QHeaderView::section {
    /* Table Header Sections */
     qproperty-alignment:center;   
     background: #20202E;     
     min-height:25px;
     font-weight:bold;    
     border-top:1px solid #3f3f5b;
     border-right:1px solid #3f3f5b;
     border-bottom:1px solid #3f3f5b;
     padding: 3px 5px;    
 }
 QHeaderView::section:hover{
    background: #16161f;    
 }
 
 QHeaderView::down-arrow, QHeaderView::up-arrow{
    width: 14px;
    height: 14px;
    margin-right: 3px;
 }
 QHeaderView::down-arrow {    
     image:url(':/images/light/drkblue_downArrow_small');
 }
 
 QHeaderView::up-arrow {    
     image:url(':/images/light/drkblue_upArrow_small');
 }


.QTableView, QTableWidget {
    /* Table - has to be selected as a class otherwise it throws off QCalendarWidget */
     border:0px;
     border-collapse: collapse;
     gridline-color: #3f3f5b;
     font-size:12px;
     
 }
 QTableView::item {
    /* Table Item */    
     background: #2a2a3d;     
     border:0px;     
     margin: 0;
     font-size:12px;
 }
 QTableView::item:selected {
    /* Table Item Selected */
     background: #20202e;    
     color: #3e8ef7 
 }
 
 /* -------------------Scrollbar--------------------- */


QScrollBar {
    /* Scroll Bar */
    border:0;
    background: #16161f;
 }
 QScrollBar:vertical {
    /* Vertical Scroll Bar Attributes */
    
     width:6px;
     margin: 6px 0px 6px 0px;
 }
 QScrollBar:horizontal {
    /* Horizontal Scroll Bar Attributes */
    
     height:6px;
     margin: 0px 6px 0px 6px;
 }
 QScrollBar::handle:vertical {
    /* Scroll Bar Slider - vertical */
     background: #3e8ef7;    
     min-height:6px;
 }
 QScrollBar::handle:horizontal {
    /* Scroll Bar Slider - horizontal */
     background: #3e8ef7;
     min-width:6px;
 }
 QScrollBar::add-page, QScrollBar::sub-page {
    /* Scroll Bar Background */
     background:#000000;
 }
 QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical, QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal {
    /* Define Arrow Button Dimensions */
     background-color:#3e8ef7;
     /* border: 1px solid #3e8ef7;    */
     width:6px;
     height:6px;
 }
 QScrollBar::add-line:vertical:pressed, QScrollBar::sub-line:vertical:pressed, QScrollBar::add-line:horizontal:pressed, QScrollBar::sub-line:horizontal:pressed {
     background-color:#247cf0;
 }
 QScrollBar::sub-line:vertical {
    /* Vertical - top button position */
     subcontrol-position:top;
     subcontrol-origin: margin;
 }
 QScrollBar::add-line:vertical {
    /* Vertical - bottom button position */
     subcontrol-position:bottom;
     subcontrol-origin: margin;
 }
 QScrollBar::sub-line:horizontal {
    /* Vertical - left button position */
     subcontrol-position:left;
     subcontrol-origin: margin;
 }
 QScrollBar::add-line:horizontal {
    /* Vertical - right button position */
     subcontrol-position:right;
     subcontrol-origin: margin;
 }
 QScrollBar:up-arrow, QScrollBar:down-arrow, QScrollBar:left-arrow, QScrollBar:right-arrow {
    /* Arrows Icon */
     width:6px;
     height:6px;
 }

/*  
 QScrollBar:up-arrow {
     image: url(':/images/light/drkblue_upArrow_small');
 }
 QScrollBar:down-arrow {
     image: url(':/images/light/drkblue_downArrow_small');
 }
 QScrollBar:left-arrow {
     image: url(':/images/light/drkblue_leftArrow_small');
 }
 QScrollBar:right-arrow {
     image: url(':/images/light/drkblue_rightArrow_small');
 } */



 /* -------------------Tab--------------------- */


.QTabWidget::pane {
    border: 1px solid #3f3f5b;   
}
.QTabWidget QTabBar::tab {
    background-color:#20202E;
    padding: 8px 10px;
    border-top: 1px solid #3f3f5b;
}
.QTabWidget QTabBar::tab:first {
    border-left: 1px solid #3f3f5b;
}
.QTabWidget QTabBar::tab:last {
    border-right: 1px solid #3f3f5b;
}
.QTabWidget QTabBar::tab:selected, .QTabWidget QTabBar::tab:hover {
    background-color:#16161f;
    color:#3e8ef7;
}

/* -------------------MODAL OVERLAY--------------------- */

/*  */
QWidget#bgWidget {
    /* The 'frame' overlaying the overview-page */
     
     background: rgba(9, 9, 9, 0.6);     
 }
 QWidget#bgWidget .QPushButton#warningIcon {
     width:64px;
     height:64px;
     padding:5px;
     margin-right: 20px;
     background-color:transparent;
 }
 QWidget#contentWidget {    
     background: #16161f;
     margin:0;
     padding-top:20px;
     padding-bottom: 20px;
 }

 /* -------------------OVERVIEW SCREEN--------------------- */


QWidget .QFrame#frameWallet {
    /* Wallet Balance */     
     max-width: 451px;
     min-width: 451px;
 }
 QWidget .QFrame#frameWallet > .QLabel {
     min-width:190px;
     font-weight:normal;
     min-height:30px;     
 }
 
 
 QWidget .QFrame#frameWallet .QLabel#labelWallet {
    /* Wallet Label */
     qproperty-alignment: 'AlignVCenter | AlignCenter';   
     background-color:#20202E;    
     margin-right:5px;
     padding-right:5px;
     font-size: 14px;
     height: 35px;
     max-width: 421px;
     min-width: 421px;
 }
 QWidget .QFrame#frameWallet .QLabel#labelWalletStatus {
    /* Wallet Sync Status */
     /* qproperty-alignment: 'AlignVCenter | AlignRight';
     margin-right:3px; */
     qproperty-alignment: 'AlignVCenter | AlignRight';     
     margin-right:5px;
     
 }
 QWidget .QFrame#frameWallet .QLabel#labelSpendable {
    /* Spendable Header */
     qproperty-alignment: 'AlignVCenter | AlignLeft';
     font-size:12px;
     margin-left:18px;
     font-weight: bold;
 }
 QWidget .QFrame#frameWallet .QLabel#labelWatchonly {
    /* Watch-only Header */
     qproperty-alignment: 'AlignVCenter | AlignLeft';     
     margin-left:16px;
     font-weight: bold;
 }
 QWidget .QFrame#frameWallet .QLabel#labelBalanceText {
    /* Available Balance Label */
     qproperty-alignment: 'AlignVCenter | AlignRight';
     min-width:160px;     
     margin-right:5px;
     padding-right:5px;    
     
 }
 QWidget .QFrame#frameWallet .QLabel#labelBalance {
    /* Available Balance */
     qproperty-alignment: 'AlignVCenter | AlignLeft';     
     color:#11c26d;
     margin-left:0px;
     
 }
 QWidget .QFrame#frameWallet .QLabel#labelWatchAvailable {
    /* Watch-only Balance */
     qproperty-alignment: 'AlignVCenter | AlignLeft';
     color: #555576;
     margin-left:16px;
 }
 QWidget .QFrame#frameWallet .QLabel#labelPendingText {
    /* Pending Balance Label */
     qproperty-alignment: 'AlignVCenter | AlignRight';
     min-width:160px;  
     
     margin-right:5px;
     padding-right:5px;
 }
 QWidget .QFrame#frameWallet .QLabel#labelUnconfirmed {
    /* Pending Balance */
     qproperty-alignment: 'AlignVCenter | AlignLeft';
     
     margin-left:0px;
 }
 QWidget .QFrame#frameWallet .QLabel#labelWatchPending {
    /* Watch-only Pending Balance */
     qproperty-alignment: 'AlignVCenter | AlignLeft';
     color: #555576;
     margin-left:16px;
 }
 QWidget .QFrame#frameWallet .QLabel#labelImmatureText {
    /* Immature Balance Label */
     qproperty-alignment: 'AlignVCenter | AlignRight';
     min-width:160px;     
     margin-right:5px;
     padding-right:5px;
 }
 QWidget .QFrame#frameWallet .QLabel#labelImmature {
    /* Immature Balance */
     qproperty-alignment: 'AlignVCenter | AlignLeft';     
     margin-left:0px;
 }
 QWidget .QFrame#frameWallet .QLabel#labelWatchImmature {
    /* Watch-only Immature Balance */
     qproperty-alignment: 'AlignVCenter | AlignLeft';     
     margin-left:16px;
     color: #555576
 }
 QWidget .QFrame#frameWallet .QLabel#labelTotalText {
    /* Total Balance Label */
     qproperty-alignment: 'AlignVCenter | AlignRight';
     min-width:160px;
     font-size:14px;     
     margin-right:5px;
     padding-right:5px;
 }
 QWidget .QFrame#frameWallet .QLabel#labelTotal {
    /* Total Balance */
     qproperty-alignment: 'AlignVCenter | AlignLeft';
     font-size:14px;
     margin-left:0px;
     color: #3e8ef7
 }
 QWidget .QFrame#frameWallet .QLabel#labelWatchTotal {
    /* Watch-only Total Balance */
     qproperty-alignment: 'AlignVCenter | AlignLeft';
     font-size:14px;
     margin-left:16px;
     color: #555576
 }
 
 QWidget .QFrame#frameWallet #lineSpendableBalance, QWidget .QFrame#frameWallet #lineWatchBalance {
     border-bottom: 1px dashed #3f3f5b;
}


/* -------------------PRIVATESEND WIDGET--------------------- */
QWidget .QFrame#framePrivateSend {
    /* PrivateSend Widget */
     background-color:transparent;
     max-width: 451px;
     min-width: 451px;
     max-height: 350px;
 }

 QWidget .QFrame#framePrivateSend .QLabel#labelPrivateSendHeader {
    /* PrivateSend Header */
     qproperty-alignment: 'AlignVCenter | AlignCenter';
     max-width: 421px;
     min-width: 421px;
     background-color:#20202E;     
     margin-right: 5px;
     padding-right: 5px;
     font-weight:normal;    
     font-size:14px;
     min-height:35px;
     max-height:35px;
 }
 /******************************************************************/
 QWidget .QFrame#framePrivateSend .QLabel#labelPrivateSendSyncStatus {
    /* PrivateSend Sync Status */
     qproperty-alignment: 'AlignVCenter | AlignLeft';
     margin-left:2px;
     padding-right:5px;
 }
 QWidget .QFrame#framePrivateSend #privateSendFormLayoutWidget {
     max-width: 451px;
     max-height: 175px;
 }
 QWidget .QFrame#framePrivateSend #privateSendFormLayoutWidget > .QLabel {
     min-width:175px;
     font-weight:normal;
     min-height:25px;
 }
 QWidget .QFrame#framePrivateSend #privateSendFormLayoutWidget .QLabel#labelPrivateSendEnabledText {
    /* PrivateSend Enabled Status Label */
     qproperty-alignment: 'AlignVCenter | AlignRight';
     min-width:160px;
     background-color:#16161f;
     margin-right:5px;
     padding-right:5px;
 }

 QWidget .QFrame#framePrivateSend #privateSendFormLayoutWidget .QLabel#labelCompletitionText {
    /* PrivateSend Completion Label */
     qproperty-alignment: 'AlignVCenter | AlignRight';
     min-width:160px;
     background-color:#16161f;
     margin-right:5px;
     padding-right:5px;
 }
 QWidget .QFrame#framePrivateSend #privateSendFormLayoutWidget .QProgressBar#privateSendProgress {
    /* PrivateSend Completion */
   
     margin-right:43px;
     text-align: right;  
 }
 QWidget .QFrame#framePrivateSend #privateSendFormLayoutWidget .QProgressBar#privateSendProgress::chunk {
    background-color: #28a745;
    width:1px;
 }
 QWidget .QFrame#framePrivateSend #privateSendFormLayoutWidget .QLabel#labelAnonymizedText {
    /* PrivateSend Balance Label */
     qproperty-alignment: 'AlignVCenter | AlignRight';
     min-width:160px;     
     margin-right:5px;
     padding-right:5px;
 }

 QWidget .QFrame#framePrivateSend #privateSendFormLayoutWidget .QLabel#labelAmountAndRoundsText {
    /* PrivateSend Amount and Rounds Label */
     qproperty-alignment: 'AlignVCenter | AlignRight';
     min-width:160px;
     background-color:#16161f;
     margin-right:5px;
     padding-right:5px;
 }
 
 QWidget .QFrame#framePrivateSend #privateSendFormLayoutWidget .QLabel#labelSubmittedDenomText {
    /* PrivateSend Submitted Denom Label */
     qproperty-alignment: 'AlignVCenter | AlignRight';
     min-width:160px;     
     margin-right:5px;
     padding-right:5px;
 }

 QWidget .QFrame#framePrivateSend .QWidget#layoutWidgetLastMessageAndButtons {
     max-width: 451px;
 }
 QWidget .QFrame#framePrivateSend .QLabel#labelPrivateSendLastMessage {
    /* PrivateSend Status Notifications */
     qproperty-alignment: 'AlignVCenter | AlignCenter';
     min-width: 288px;
     min-height: 43px;
    
 }
 /* PRIVATESEND BUTTONS */
 
 QWidget .QFrame#framePrivateSend .QPushButton#privateSendInfo {
    /* Info Button */   
     color: #0bb2d4;
     background-color: transparent;
     border-color: #0bb2d4;
 }
 QWidget .QFrame#framePrivateSend .QPushButton#privateSendInfo:hover {
   
     color: #fff;
     background-color: #0bb2d4;
     border-color: #0bb2d4;
 }
 QWidget .QFrame#framePrivateSend .QPushButton#privateSendInfo:pressed {
   
     border-color: #0099b8;
 }

/* RECENT TRANSACTIONS */

QWidget .QFrame#frame_2 {
   /* Transactions Widget */
    min-width:410px;
    margin-right:20px;
    margin-left:0;
    margin-top:0px;
   
}
QWidget .QFrame#frame_2 .QLabel#label_4 {
   /* Recent Transactions Label */
    min-width:180px;
    margin-left:20px;  
    margin-right:5px;
    padding-right:5px;
    font-weight:normal;
    font-size:14px;
    /* min-height:24px; */
}
QWidget .QFrame#frame_2 .QLabel#labelTransactionsStatus {
   /* Recent Transactions Sync Status */
    qproperty-alignment: 'AlignBottom | AlignRight';
    min-width:93px;   
    margin-left:16px;
    margin-right:5px;
    min-height:16px;
}
QWidget .QFrame#frame_2 QListView {
   /* Transaction List */
    font-weight:normal;
    font-size:12px;
    max-width:369px;
    margin-top:12px;
    margin-left:0px;  
    
   /* CSS Voodoo - set to -66px to hide default transaction icons */
}

 /* -------------------SEND DIALOG--------------------- */


 QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlFeatures {
    /* Coin Control Header */    
     font-weight:normal;
     font-size:14px;
 }
 

 QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlChangeLabel {
    /* Custom Change Address Validation Label */
     font-weight:normal;
     qproperty-margin:-6;
     margin-right:112px;
 }

 QDialog#SendCoinsDialog .QPushButton#clearButton {  
     color: #eb6709;
     background-color: transparent;
     border-color: #eb6709;     
 }
 QDialog#SendCoinsDialog .QPushButton#clearButton:hover {
   
     color: #fff;
     background-color: #eb6709;
     border-color: #eb6709;
 }
 QDialog#SendCoinsDialog .QPushButton#clearButton:pressed {
     border-color: #de4e00;
 }
 QDialog#SendCoinsDialog .QPushButton#addButton {
    /* Add Button */
  
     color: #11c26d;
     background-color: transparent;
     border-color: #11c26d;
     padding-left:10px;
     padding-right:10px;
 }
 QDialog#SendCoinsDialog .QPushButton#addButton:hover {
     background-color: #11c26d;
     border-color: #11c26d;
     color: #ffffff 
 }
 QDialog#SendCoinsDialog .QPushButton#addButton:pressed {
     background-color: #11c26d;
     border-color: #11c26d;
     color: #ffffff 
 }
 QDialog#SendCoinsDialog .QCheckBox#checkUsePrivateSend, QDialog#SendCoinsDialog .QCheckBox#checkUseInstantSend {
    /* PrivateSend Checkbox */    
     margin-right: 15px;
 }
 
 QDialog#SendCoinsDialog #checkboxSubtractFeeFromAmount{
     margin-left: 8px;
 }
 /* This QLabel uses name = "label" which conflicts with Address Book -> New Address */
 /* To maximize backwards compatibility this formatting has been removed */
 QDialog#SendCoinsDialog QLabel#label {   
     font-size:14px;
 }
 QDialog#SendCoinsDialog QLabel#labelBalance {   
     color:#11c26d;
     font-size:14px;  
 }

 
 /* -------------------SEND COINS ENTRY--------------------- */
 QStackedWidget#SendCoinsEntry .QFrame#SendCoins > .QLabel {
    /* Send Coin Entry Labels */     
     min-width:102px;
     font-weight:normal;   
     min-height:25px;
     margin-right:5px;
     padding-right:5px;
 }
 
/* -------------------COIN CONTROL POPUP--------------------- */

QDialog#CoinControlDialog .QLabel#labelCoinControlQuantityText {
    /* Coin Control Quantity Label */
     min-height:30px;
     padding-left:15px;
 }
 QDialog#CoinControlDialog .QLabel#labelCoinControlQuantity {
    /* Coin Control Quantity */
     min-height:30px;
 }
 QDialog#CoinControlDialog .QLabel#labelCoinControlBytesText {
    /* Coin Control Bytes Label */
     padding-left:15px;
 }
 QDialog#CoinControlDialog .QLabel#labelCoinControlBytes {
    /* Coin Control Bytes */
 }
 QDialog#CoinControlDialog .QLabel#labelCoinControlAmountText {
    /* Coin Control Amount Label */
     min-height:30px;
     padding-left:15px;
 }
 QDialog#CoinControlDialog .QLabel#labelCoinControlAmount {
    /* Coin Control Amount */
     min-height:30px;
 }
 QDialog#CoinControlDialog .QLabel#labelCoinControlPriorityText {
    /* Coin Control Priority Label */
     padding-left:15px;
 }
 
 QDialog#CoinControlDialog .QLabel#labelCoinControlFeeText {
    /* Coin Control Fee Label */
     min-height:30px;
     padding-left:15px;
 }
 QDialog#CoinControlDialog .QLabel#labelCoinControlFee {
    /* Coin Control Fee */
     min-height:30px;
 }
 QDialog#CoinControlDialog .QLabel#labelCoinControlLowOutputText {
    /* Coin Control Low Output Label */
     padding-left:15px;
 }

 QDialog#CoinControlDialog .QLabel#labelCoinControlAfterFeeText {
    /* Coin Control After Fee Label */
     min-height:30px;
     padding-left:15px;
 }
 QDialog#CoinControlDialog .QLabel#labelCoinControlAfterFee {
    /* Coin Control After Fee */
     min-height:30px;
 }
 QDialog#CoinControlDialog .QLabel#labelCoinControlChangeText {
    /* Coin Control Change Label */
     padding-left:15px;
 }

 
 QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item {
    
     padding:3px 5px;
     background: #2a2a3d;
     border-right: 1px solid #3f3f5b;
     border-bottom: 1px solid #3f3f5b;
 }
 QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:selected {
    /* Coin Control Item (selected) */   
     background: #20202e;  
     color: #3e8ef7 
 }
 QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:checked {
    /* Coin Control Item (checked) */
  
     background: #20202e;  
     color: #3e8ef7 
 }



/* -------------------RECEIVE COINS--------------------- */


QWidget#ReceiveCoinsDialog .QFrame#frame2 .QLabel {
    /* Label Label */    
     min-width:102px;   
     padding-right:5px;
 }
 
 QWidget#ReceiveCoinsDialog .QFrame#frame2 QPushButton#clearButton {
    /* Clear Button */   
     color: #eb6709;
     background-color: transparent;
     border-color: #eb6709;
 }
 QWidget#ReceiveCoinsDialog .QFrame#frame2 QPushButton#clearButton:hover {
     color: #fff;
     background-color: #eb6709;
     border-color: #eb6709;
 }
 QWidget#ReceiveCoinsDialog .QFrame#frame2 QPushButton#clearButton:pressed {
     border-color: #f2353c;
 }
 
 QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#removeRequestButton {
    /* Remove Button */
     color: #ff4c52;
     background-color: transparent;
     border-color: #ff4c52;
 }
 QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#removeRequestButton:hover {
     color: #fff;
     background-color: #ff4c52;
     border-color: #ff4c52;
 }
 QWidget#ReceiveCoinsDialog .QFrame#frame QPushButton#removeRequestButton:pressed {
     border-color: #f2353c;
 }
 QWidget#ReceiveCoinsDialog .QFrame#frame .QLabel#label_6 {
    /* Requested Payments History Label */
     font-weight:normal;
     font-size:14px;
 }
 
 /* -------------------TRANSACTIONS PAGE--------------------- */
 
 TransactionView QLineEdit {
    /* Filters */
     margin-bottom:2px;
     margin-right:1px;
     min-width:111px;
     text-align:center;
 }
 TransactionView QLineEdit#addressWidget {
    /* Address Filter */
     margin-bottom:2px;
     margin-right:1px;
     min-width:405px;
     text-align:center;
 }
 TransactionView QLineEdit#amountWidget {
    /* Amount Filter */
     margin-bottom:2px;
     margin-right:1px;
     max-width:100px;
     text-align:center;
 }
 TransactionView QComboBox {
     margin-bottom:1px;
     margin-right:1px;
 }
 QLabel#transactionSumLabel {
    /* Example of setObjectName for widgets without name */    
     font-weight:bold;
 } 

/* -------------------Dialog: Open URI--------------------- */

QDialog#OpenURIDialog QLabel#label {
   /* URI Label */
    font-weight:bold;
}

/* -------------------Dialog: Sign / Verify Message--------------------- */

QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_SM, 
QDialog#SignVerifyMessageDialog QPushButton#pasteButton_SM, 
QDialog#SignVerifyMessageDialog QPushButton#copySignatureButton_SM,
QDialog#SignVerifyMessageDialog QPushButton#addressBookButton_VM {
    border-color: #3f3f5b;
    margin-left: 8px;
}


QDialog#SignVerifyMessageDialog QPushButton#clearButton_SM {
   /* Clear Button */
 
    color: #eb6709;
    background-color: transparent;
    border-color: #eb6709;
}
QDialog#SignVerifyMessageDialog QPushButton#clearButton_SM:hover {
   
    color: #fff;
    background-color: #eb6709;
    border-color: #eb6709;
}
QDialog#SignVerifyMessageDialog QPushButton#clearButton_SM:pressed {
 
    border-color: #de4e00;
}
QDialog#SignVerifyMessageDialog QPushButton#clearButton_VM {
   /* Verify Message - Clear Button */
  
    color: #eb6709;
    background-color: transparent;
    border-color: #eb6709;
}
QDialog#SignVerifyMessageDialog QPushButton#clearButton_VM:hover {
   
    color: #fff;
    background-color: #eb6709;
    border-color: #eb6709;
}
QDialog#SignVerifyMessageDialog QPushButton#clearButton_VM:pressed {
   
    border-color: #de4e00;
}
/* Dialog: Send and Receive */


QWidget#AddressBookPage QPushButton#deleteAddress {
   /* Delete Address Button */
    color: #ff4c52;
    background-color: transparent;
    border-color: #ff4c52;
}
QWidget#AddressBookPage QPushButton#deleteAddress:hover {
    color: #fff;
    background-color: #ff4c52;
    border-color: #ff4c52;
}
QWidget#AddressBookPage QPushButton#deleteAddress:pressed {
    border-color: #f2353c;
}

QWidget#AddressBookPage #tableView{
    font-size: 13px;
}

QWidget#AddressBookPage QHeaderView::section {
   /* Min width for Windows fix */
    min-width:260px;
}
/* SETTINGS MENU */
/* Encrypt Wallet and Change Passphrase Dialog */

QDialog#AskPassphraseDialog QLabel#passLabel1, QDialog#AskPassphraseDialog QLabel#passLabel2, QDialog#AskPassphraseDialog QLabel#passLabel3 {
    qproperty-alignment: 'AlignVCenter | AlignRight';
    min-width:170px;
    min-height:33px;
   /* base width of 25px for QLineEdit, plus padding and border */
}
/* Options Dialog */

QDialog#OptionsDialog QValueComboBox, 
QDialog#OptionsDialog QSpinBox, 
QDialog#OptionsDialog .QLineEdit,
QDialog#OptionsDialog .QValidatedLineEdit {   
    min-height: 24px;
}
QDialog#OptionsDialog QValidatedLineEdit, QDialog#OptionsDialog QValidatedLineEdit:disabled, QDialog#OptionsDialog QLineEdit, QDialog#OptionsDialog QLineEdit:disabled {
    qproperty-alignment: 'AlignVCenter | AlignLeft';
    min-height:20px;
    margin-top:0px;
    margin-bottom:0px;
    padding-top:1px;
    padding-bottom:1px;
}
QDialog#OptionsDialog > QLabel {
    qproperty-alignment: 'AlignVCenter';
    min-height:20px;
}

QDialog#OptionsDialog QLabel#label_3 {
   /* Translations Missing? Label */
    qproperty-alignment: 'AlignVCenter | AlignCenter';
    
    padding-bottom:8px;
}
QDialog#OptionsDialog QCheckBox {
    /* min-height:20px; */
    margin-bottom: 4px;
}

QDialog#OptionsDialog QGroupBox::title {   
    padding: 5px 3px;    
    font-weight: bold;
}


/* -------------------Toolbox--------------------- */

QDialog#RPCConsole QWidget#tab_info QLabel#label_11, QDialog#RPCConsole QWidget#tab_info QLabel#label_10 {
   /* Margin between Network and Block Chain headers */
    qproperty-alignment: 'AlignBottom';
    min-height:25px;
    min-width:180px;
}
QDialog#RPCConsole QWidget#tab_peers QLabel#peerHeading {
   /* Peers Info Header */
    color:#1c75bc;
}
QDialog#RPCConsole QPushButton#openDebugLogfileButton {
    max-width:60px;
}
QDialog#RPCConsole QTextEdit#messagesWidget {
   /* Console Messages Window */
    border:0;
}
QDialog#RPCConsole QLineEdit#lineEdit {
   /* Console Input */
    margin-right:5px;
}
QDialog#RPCConsole QPushButton#clearButton {
   /* Console Clear Button */
    background-color:transparent;
    padding-left:10px;
    padding-right:10px;
}
QDialog#RPCConsole .QGroupBox #line {
   /* Network In Line */
    background-color:#00ff00;
}
QDialog#RPCConsole .QGroupBox #line_2 {
   /* Network Out Line */
    background:#ff3300;
}

#RPCConsole #fontSmallerButton, #RPCConsole #fontBiggerButton,#RPCConsole #clearButton{
    border-color: #3f3f5b;
    padding: 3px;
}
#RPCConsole #promptIcon{
    border: 0;
}

/* HELP MENU */


/* About GeekCash Dialog */

QDialog#AboutDialog QLabel#label, QDialog#AboutDialog QLabel#copyrightLabel, QDialog#AboutDialog QLabel#label_2 {
   /* About GeekCash Contents */
    margin-left:10px;
}
QDialog#AboutDialog QLabel#label_2 {
   /* Margin for About GeekCash text */
    margin-right:10px;
}
/* Edit Address Dialog */

QDialog#EditAddressDialog QLabel {
    qproperty-alignment: 'AlignVCenter | AlignRight';
    min-height:27px;
    font-weight:normal;
    padding-right:5px;
}



